/* CSS for theme plugins */

/* Contact Form 7 message style tweaks*/
div.wpcf7 {
	width: 100%; 
	
	/* border: 1px solid black; */
}
	div.wpcf7 form.wpcf7-form {
		/* border: 1px solid #999; */
		width: auto;
		max-width: 400px;
		margin: 0 auto; /* Center the entire form */ 
	}
	
		div.wpcf7 form.wpcf7-form input {
			max-width: 395px; 
		}

.wpcf7-form-control-wrap {
	max-width: 97%; /* max field width */
}
.wpcf7-form-control {
	
}
.wpcf7 p {
	margin-bottom: 1.5em;
}
.wpcf7-submit {
	font-size: 1.5em;
	margin: 0;
	text-indent: 0;
	text-align: center;
	width: 4.5em;
	color: black;
	border-radius: 12px;
}

div.wpcf7-response-output.wpcf7-validation-errors {
	border: 1px solid orange !important;
	text-indent: 0em;
	color: orange;
}
div.wpcf7-response-output,
div.wpcf7-mail-sent-ok,
.wpcf7-response-output.wpcf7-mail-sent-ok
{
	text-indent: 0em;
	color: #FAEBD7;
	border: 1px solid #EECBAD !important;
}
span.wpcf7-not-valid-tip {
	font-size: 90%;
	text-indent: 1em;
	color: orange !important;
	border: 1px solid orange;
}

/* directly Copied from cf7 css */

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip { 
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}

/* ===Gigpress used for calendar events=== */

/* Stock items from original css. */
/* These styles control the peek-a-boo "add" links to iCal and Google Calendar. Behaviour dictated by a separate jQuery script. */
/* Default wrapper for the year/month dropdown */
.gigpress-menu-container {
	padding: 5px 0;
	text-align: right;
	float: right;
}
/* Meet the table that displays our shows */
.gigpress-table {
/*	width: 100%;
	border: none;
	border-collapse: collapse;
	border-top: 1px solid #CCC;
*/
	margin: 0.5em 0 1em 0;
}
td.gigpress-links-cell {
	vertical-align: top;
}

.gigpress-calendar-add {
	position: relative;
}

a.gigpress-links-toggle {
	display: block;
	text-indent: -9999px;
	width: 11px;
	height: 11px;
	background: transparent url(../../plugins/gigpress/images/calendar-toggle.png) no-repeat left top;
	cursor: pointer;
}

a.gigpress-links-toggle:hover {
	background-position: -11px 0px;
}

a.gigpress-link-active {
	background-position: -33px;
}

a.gigpress-link-active:hover {
	background-position: -22px;
}

div.gigpress-calendar-links {
	display: none;
	position: absolute;
	left: 20px;
	top: -1.2em;
	width: 15em;
	padding-left: 7px;
	background: transparent url(../../plugins/gigpress/images/calendar-links-bg.png) no-repeat left center;
}

.gigpress-calendar-links-inner {
	background-color: #F3F3F3;
	padding: 6px 8px;
	font-size: 11px;
	line-height: 16px;
	border: 1px solid #CCC;
	border-width: 1px 1px 1px 0;
}

div.gigpress-calendar-links span {
	display: block;
}

/* These are for the RSS/iCal subscribe links */
p.gigpress-subscribe {
	text-align: left;
	color: #999;
}

p.gigpress-subscribe a {
	display: inline-block;
	text-indent: -9999px;
	width: 12px;
	margin: 0 3px;
}

a.gigpress-rss, a.gigpress-rss:hover {
	background: transparent url(../../plugins/gigpress/images/feed-icon-12x12.png) no-repeat left center;	
}

a.gigpress-ical, a.gigpress-ical:hover {
	background: transparent url(../../plugins/gigpress/images/icalendar-icon.gif) no-repeat left center;	
}

/* This is just to include data for hcalendar support, but hide it from view */
.vevent .hide { display: none; }


/* Now we make gigpress changes. */

/* Start with table fixes 
.gigpress-info,
.gigpress-info .description,
.gigpress-title-item,
.gigpress-info-item,
.gigpress-listing,
.gigpress-sidebar-title,
.gigpress-sidebar-date {
	color: #FAEBD7;
} */

td.gigpress-date {
	/* width: 19%; */
	min-width: 120px;
	min-width: 12rem; /* 7.5em */
	word-break: keep-all;
	word-wrap: normal;
}
.gigpress-calendar-links-inner {
	/* background-color: #36648B; */
	border: 3px solid #CCC;
	line-height: 20px;
	line-height: 2rem;
} /* NEW!!! Style add-to-calendar pop-up */
/* Outer box .gigpress-calendar-links has arrow */

.gigpress-title-item,
.gigpress-sidebar-title {
	font-size: 100%;
	text-shadow: 1px 1px 1px #000;
}
.gigpress-ds-description {
	font-size: 95%;
}
.gigpress-ds-more-info {
	font-style: italic;
	font-size: 85%;
}
.gigpress-ds-venue {
	font-size: 85%;
}
.gigpress-ds-event-type {
	float: right;
	text-align: right;
	width: auto;
	font-size: 85%;
}
.gigpress-ds-event-end {
	clear: both;
}

/* Widget Gigpress */
#sidebar-primary .widget_gigpress h3.widget-title { margin-bottom: 5px; }

#sidebar-primary .widget ul.gigpress-listing { 
	margin-bottom: 0.5em; 
}

#sidebar-primary .widget .gigpress-listing li {
	list-style: square;
	list-style-position: inside;
}
#sidebar-primary .widget span.gigpress-sidebar-date {
	font-weight: bold;
	display: block;
	font-weight: normal;
	margin-top: 5px;
}
#sidebar-primary .widget .gigpress-sidebar-more {
	text-align: center;
	font-style: italic;
}
#sidebar-primary .widget p.gigpress-sidebar-more {
	margin-bottom: 1em;
}

abbr,
.widget_gigpress abbr { 
	cursor: pointer;
	border: none;
	text-decoration: none;
}
/* End of Gigpress style */
