/**
 * Media Queries overwrite for style.css CSS
 * Mehta Theme
 */

/* for tablet */
/* @media screen and (min-width: 481px) and (max-width: 760px) { */
@media screen and (min-width: 511px) and (max-width: 760px) {

	/* content
	*******************************************/
	.layout-default #content,
	.layout-2c-l #content,
	.layout-2c-r #content{
		width:100%;
		margin:0;
		margin-bottom:25px;
		clear:both;
	}

	/* sidebar primary
	*******************************************/
	.layout-default #sidebar-primary,
	.layout-2c-l #sidebar-primary,
	.layout-2c-r #sidebar-primary{
		width:48.75%;
		float:left;
		clear:left;
		margin:0;
	}
	/* width to 100% if sideabr primary is not active */
	.sidebar-secondary-inactive #sidebar-primary{
		width:100%;
		float:none;
		clear:both;
		margin:0;
	}

	/* sidebar secondary
	*******************************************/
	.layout-default #sidebar-secondary,
	.layout-2c-l #sidebar-secondary,
	.layout-2c-r #sidebar-secondary{
		width:48.75%;
		float:right;
		clear:right;
		margin:0;
	}
	/* width to 100% if sidebar secondary is not active */
	.sidebar-primary-inactive #sidebar-secondary{
		width:100%;
		float:none;
		clear:both;
		margin:0;
	}

	/* sidebar subsidiary
	*******************************************/
	#sidebar-subsidiary .widget{
		width:47.5%;
	}
	#sidebar-subsidiary div.widget:nth-child(odd) {
		clear:left;
	}
	#sidebar-subsidiary div.widget:nth-child(even) {
		clear:right;
	}
	
	/* Menu adjustments as screen shrinks and top rows shift. */
	
	#menu-primary,
	#menu-secondary { 
		width: 100%; 
	}
	
	#menu-primary.menu,
	#menu-secondary.menu  { float: left;}
	
	/* jQuery toggles t/f none in theme-footer.js */ 
	#menu-primary div.wrap,
	#menu-secondary div.wrap { display: inline !important; } 
	
	#menu-primary div.wrap ul li:nth-child(1) a,
	#menu-secondary div.wrap ul li:nth-child(1) a { /* 1st on left needs none.  */
		padding-left: 0;
	}
	
	/*#menu-secondary div.wrap ul li:last-child a {
		width: 5px;
		overflow: hidden;
		color: transparent;
	}
	
	#menu-secondary div.wrap ul li:last-child a:after {
		content: 'Contact';
		font-size: 80%;
	} 
	
	#xxxxmenu-primary div.wrap ul li:nth-child(3n+3):after { /* newline every third */
		/*clear: right; */
		content:".\a";
		display: block;
		clear: right; /* wrong? * /
	} */
	
}

/* for another tablet 
@media screen and (max-width: 600px) {

	#branding{
		width:100%;
	}
	#sidebar-header{
		width:100%;
		height:auto;
	}

} */

/* for mobile */
/* @media screen and (max-width: 480px) { */
@media screen and (max-width: 510px) {
	
	/* Site Top and Header
	*******************************************/
	.searchwrap {
		clear: both;
		float: none;
		width: 50%;
		margin: 0 auto;
	}
	
	/* Site name and description */
	#branding	{ float: right; }
	
	/* Contact Banner -- Goose text */
	.singular-page-12 .header-image-text  {
		font-size: 2.2rem;
		letter-spacing: 2.5pt;
	}
	
	/* Recordings Banner -- Goose text */
	.singular-the_recordings .header-image-text,
	.taxonomy-category-recordings .header-image-text {
		font-size: 2.2rem;
		letter-spacing: 2.5pt;
	}


	/* Menus
	*******************************************/
	.menu-toggle { padding: 0; margin: 0; }
	
	#menu-primary, 
	#menu-secondary {
		width: 100%;
	}
	
	#menu-primary.menu, 
	#menu-secondary.menu {
		width: 100%;
		float: none;
	}
	
	/* #menu-primary.menu,
	#menu-primary .menu-toggle button { float: right; }
	#menu-secondary.menu { float: left; }
	*/
	
	#menu-primary .menu-toggle { display: none; }
	
	#menu-secondary .menu-toggle {
		display: block;
		position: fixed;
		top: 5px;
		left: 5px;
	}
	
	
	#menu-primary .menu-toggle button,
	#menu-secondary .menu-toggle button {
		background: rgba(0,0,0,0.35);
		border: 1px solid #ddd;
		width: 60px;
		font-size: 90%;
		font-variant: small-caps;
		padding: 0.3rem;
	}
	
	#menu-primary .menu-toggle button::before {
		content:        '\f333';
		display:        inline-block;
		font-family:    'dashicons';
		font-size:      28px;
		vertical-align: middle;
		padding-bottom: 5px;

		-webkit-font-smoothing: antialiased;
	}

	#menu-secondary .menu-toggle button::before {
		content:        '\f333';
		display:        inline-block;
		font-family:    'dashicons';
		font-size:      40px;
		vertical-align: middle;
		padding-top: 3px;
		padding-bottom: 1px;

		-webkit-font-smoothing: antialiased;
	}
	
	#menu-primary div.wrap,
	#menu-secondary div.wrap { display: none; } /* jQuery toggles in theme-footer.js */ 
	
		#menu-secondary div.wrap ul li,
		#menu-primary div.wrap ul li { 
			display: block;
			float: none;
		}
		
		#menu-secondary div.wrap ul li a,
		#menu-primary div.wrap ul li a { 
			font-size: 22px;
			font-variant: small-caps;
		}
		
	
	/* Content
	*******************************************/
	.layout-default #content,
	.layout-2c-l #content,
	.layout-2c-r #content{
		width:100%;
		margin:0;
		margin-bottom:25px;
		clear:both;
	}
	
	/* Primary Sidebar
	*******************************************/
	.layout-default #sidebar-primary,
	.layout-2c-l #sidebar-primary,
	.layout-2c-r #sidebar-primary{
		width:100%;
		float:none;
		clear:both;
		margin:0;
	}
		

	/* Secondary Sidebar
	*******************************************/
	.layout-default #sidebar-secondary,
	.layout-2c-l #sidebar-secondary,
	.layout-2c-r #sidebar-secondary{
		width:100%;
		float:none;
		clear:both;
		margin:0;
	}

	/* Subsidiary Sidebar
	*******************************************/
	#sidebar-subsidiary .widget{
		width:100%;
		clear:both;
	}

	
	/* Footer
	*******************************************/
	#footer .copyright{
		float:none;
		display: block;
		width:100%;
		text-align: center;
	}
	#footer .credit{
		float:none;
		display: block;
		width:100%;
		text-align: center;
	}
	#footer .loginlink{
		display: none;
	}

	/* Grid Column
	*******************************************/
	.grid-column-2{
		width:100%;
		padding:0;
		margin:0 0 25px 0;
	}
	.grid-column-1-3{
		width:100%;
		padding:0;
		margin:0 0 25px 0;
	}
	.grid-column-2-3{
		width:100%;
		padding:0;
		margin:0 0 25px 0;
	}
	.grid-column-1-4{
		width:100%;
		padding:0;
		margin:0 0 25px 0;
	}
	.grid-column-3-4{
		width:100%;
		padding:0;
		margin:0 0 25px 0;
	}
}



