/**
 * Media Queries overwrite for style.css CSS
 * Mehta Theme
 */

/* for tablet */
@media screen and (max-width: 760px) {

	/* content
	*******************************************/
	.layout-default #content,
	.layout-2c-l #content,
	.layout-2c-r #content{
		width:100%;
		margin:0;
		margin-bottom:25px;
		clear:both;
	}

	/* sidebar primary
	*******************************************/
	.layout-default #sidebar-primary,
	.layout-2c-l #sidebar-primary,
	.layout-2c-r #sidebar-primary{
		width:48.75%;
		float:left;
		clear:left;
		margin:0;
	}
	/* width to 100% if sideabr primary is not active */
	.sidebar-secondary-inactive #sidebar-primary{
		width:100%;
		float:none;
		clear:both;
		margin:0;
	}

	/* sidebar secondary
	*******************************************/
	.layout-default #sidebar-secondary,
	.layout-2c-l #sidebar-secondary,
	.layout-2c-r #sidebar-secondary{
		width:48.75%;
		float:right;
		clear:right;
		margin:0;
	}
	/* width to 100% if sidebar secondary is not active */
	.sidebar-primary-inactive #sidebar-secondary{
		width:100%;
		float:none;
		clear:both;
		margin:0;
	}

	/* sidebar subsidiary
	*******************************************/
	#sidebar-subsidiary .widget{
		width:47.5%;
	}
	#sidebar-subsidiary div.widget:nth-child(odd) {
		clear:left;
	}
	#sidebar-subsidiary div.widget:nth-child(even) {
		clear:right;
	}
}

/* for another tablet */
@media screen and (max-width: 600px) {

	/* header
	*******************************************/
	#branding{
		width:100%;
	}
	#sidebar-header{
		width:100%;
		height:auto;
	}

}

/* for mobile */
@media screen and (max-width: 480px) {
	
	/* Site Top and Header
	*******************************************/
	.wrap .search-form{
		float:none;
		clear:both;
		width: 33%;
		margin:0 auto;
		padding-bottom: 5px;
	}
	
	/* Menus
	*******************************************/
	#menu-primary .menu-toggle button::before,
	#menu-secondary .menu-toggle button::after {
		content:        '\f168';
		display:        inline-block;
		font-family:    'dashicons';
		font-size:      24px;
		vertical-align: middle;

		-webkit-font-smoothing: antialiased;
	}

	#menu-primary .menu-toggle { display: block; }
	#menu-primary div.wrap { display: none; }
	
	#menu-secondary .menu-toggle { display: block; }
	#menu-secondary div.wrap { display: none; }
	
	/* Primary Sidebar
	*******************************************/
	.layout-default #sidebar-primary,
	.layout-2c-l #sidebar-primary,
	.layout-2c-r #sidebar-primary{
		width:100%;
		float:none;
		clear:both;
		margin:0;
	}

	/* Secondary Sidebar
	*******************************************/
	.layout-default #sidebar-secondary,
	.layout-2c-l #sidebar-secondary,
	.layout-2c-r #sidebar-secondary{
		width:100%;
		float:none;
		clear:both;
		margin:0;
	}

	/* Subsidiary Sidebar
	*******************************************/
	#sidebar-subsidiary .widget{
		width:100%;
		clear:both;
	}
	
	/* Footer
	*******************************************/
	#footer .copyright{
		float:none;
		display: block;
		width:100%;
		text-align: center;
	}
	#footer .credit{
		float:none;
		display: block;
		width:100%;
		text-align: center;
	}
	#footer .loginlink{
		display: none;
	}

	/* Grid Column
	*******************************************/
	.grid-column-2{
		width:100%;
		padding:0;
		margin:0 0 25px 0;
	}
	.grid-column-1-3{
		width:100%;
		padding:0;
		margin:0 0 25px 0;
	}
	.grid-column-2-3{
		width:100%;
		padding:0;
		margin:0 0 25px 0;
	}
	.grid-column-1-4{
		width:100%;
		padding:0;
		margin:0 0 25px 0;
	}
	.grid-column-3-4{
		width:100%;
		padding:0;
		margin:0 0 25px 0;
	}
}



